<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/phpunit/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
    <testsuites>
        <testsuite name="functional">
            <directory>tests/phpunit/Func</directory>
        </testsuite>
        <testsuite name="modules">
            <directory>modules/*/tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
